  openapi: 3.0.1
  info:
    title: Trestle API Documentation
    version: 2.0.0
    description: |

      # Overview
      Trestle provides identity data for businesses. This identity data is key for building and maintaining great customer relationships.

      ### _Base URL_

      https://api.trestleiq.com/ - US West (Default)

      ### _Authentication_

      Trestle controls access to the API and data via an API key. The API key is the primary data authentication method for your account. Your usage is recorded and reported via the API key. You may use a single API key for multiple Trestle APIs.

      # FAQ
      ### _How do I get an API Key?_

      [Sign up for a Developer Portal account](https://portal.trestleiq.com/signup). Once verified, you can request access to any of Trestle’s Identity APIs or start using Real Contact API or Phone Validation API immediately. Here’s a brief overview of Trestle’s APIs:

      - [Reverse Phone API](https://trestleiq.com/reverse-phone-api/): Identify owner names and their demographics, phone metadata, current addresses, and email addresses.

      - [Caller Identification API](https://trestleiq.com/caller-identification-api/): Access comprehensive phone metadata such as carrier, line type, and prepaid status, alongside crucial details including name, demographics, email addresses, and current address.

      - [Smart CNAM API](https://trestleiq.com/smart-cnam-api/): Validate phone numbers and identify the name or business to which the phone number belongs.

      - [Phone Validation API](https://trestleiq.com/phone-validation-api/): Validate phone numbers, obtain phone metadata details, like carrier, line type, and prepaid status, and access a phone activity score to identify disconnected phone numbers.

      - [Reverse Address API](https://trestleiq.com/reverse-address-api/): Discover detailed demographic information, historical addresses, email addresses, and phone numbers.

      - [Real Contact API](https://trestleiq.com/real-contact-api/): Validate whether a lead is real by verifying the phone, email, and address and delivering essential insights, including a phone activity score, line types, name matches for phone, email, and address, and phone and email contact grades.

      - [Phone Feedback API](https://trestleiq.com/phone-feedback-api/):  Offers a method of providing feedback to Trestle about dialed numbers for their connected/disconnected status and confirmation of right party contact.

      ### _Do you have a Postman Collection?_

      Yes, we do, and you can find it <a href="https://www.postman.com/trestleiq/workspace/trestle-identity-data-apis" target="_blank">here</a>.
      You will need to fork the collection to use it and an API key, for which you can [sign up here](https://dev-portal.trestleiq.com/accounts/create).

      ### _Where can I check the status of the service?_

      You can find the API status on the <a href="https://status.trestleiq.com/" target="_blank">Trestle Status Page</a>.

      ### _Can I submit a request using POST method?_

      POST is only supported for our Phone Feedback API. Rest of the APIs only support via GET.

      ### _I have more questions. Who can I contact?_

      Please email us at support@trestleiq.com.
    termsOfService: https://trestleiq.com/terms-of-service
    contact:
      name: Trestle Support
      url: https://trestleiq.com/contact
      email: support@trestleiq.com
    x-logo:
      url: https://portal.trestleiq.com/static/media/trestle_logo.34957c9b6aa76f69991f3a2fbaf28606.svg?w=61%&scale.option=fit
      altText: Trestle Logo
      href: https://trestleiq.com
  servers:
    - url: https://api.trestleiq.com
  security:
    []
  tags:
    - name: Reverse Phone API
      description: |
        Reverse Phone API offers comprehensive verification and enrichment of phone numbers. It includes phone validity, line type, carrier data, and all owners associated with the phone and their details, like demographics, current addresses, alternate phones, and email addresses. 
    - name: Caller Identification API
      description: Caller Identification API identifies caller information, including the name, demographics, address, and email associated with it. 
    - name: Smart CNAM API
      description: Smart CNAM API validates phone numbers and identifies the name or business to which the phone number belongs.
    - name: Phone Validation API
      description: |
        Phone Validation API validates phone numbers and provides phone metadata, including carrier, line type, prepaid status, and a phone activity score to identify disconnected numbers.
    - name: Reverse Address API
      description: |
        Reverse Address API validates and normalizes input addresses while providing comprehensive insights into current residents' information, including demographics, historical addresses, relatives and associated people, phone numbers, and associated email addresses.
    - name: Real Contact API
      description: |
        Real Contact API verifies and grades phone numbers, emails, and addresses and delivers essential insights, including a phone activity score, line types, name matches for phone, email, and address, and phone and email contact grades.
    - name: Phone Feedback API
      description: |
        Phone Feedback API offers a method of providing feedback to Trestle about dialed numbers for their connected/disconnected status and confirmation of right party contact.

  paths:
    /3.2/phone:
      get:
        tags:
          - Reverse Phone API
        summary: Reverse Phone API 3.2
        operationId: getPhone
        description: |
          <p style='background-color:#E1E1E1; padding:10px'><b>URL Structure</b>: https://api.trestleiq.com/3.2/phone?phone=<span style='color: #408FB1'>[insert_phone_number]</span> </p>
        parameters:
          - name: x-api-key
            $ref: '#/components/parameters/apiKey'
          - name: phone
            $ref: '#/components/parameters/phone'
            example: '2069735100'
          - name: phone.country_hint
            $ref: '#/components/parameters/countryHint'
          - name: phone.name_hint
            $ref: '#/components/parameters/nameHint'
          - name: phone.postal_code_hint
            $ref: '#/components/parameters/postalCodeHint'
        responses:
          '200':
            description: Successful reverse phone response.
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    id:
                      type: string
                      description: The persistent ID of the phone number.
                      format: Phone.<uuid>
                      nullable: true
                      example: Phone.3dbb6fef-a2df-4b08-cfe3-bc7128b6f5b4
                    phone_number:
                      $ref: '#/components/schemas/PhoneNumber'
                    is_valid:
                      type: boolean
                      description: True if the phone number is valid.
                      nullable: true
                      example: true
                    country_calling_code:
                      type: string
                      description: The country code of the phone number.
                      format: E.164
                      nullable: true
                      example: '1'
                    line_type:
                      type: string
                      description: |-
                        The line type of the phone number.

                        * `Landline` - Traditional wired phone line.
                        * `Mobile` - Wireless phone line.
                        * `FixedVOIP` - VOIP number connected to a physical address, such as Vonix or Comcast.
                        * `NonFixedVOIP` - VOIP number unconnected to a fixed physical address, such as Google Voice or Skype.
                        * `Premium` - Caller pays a premium for the call–e.g. 976 area code.
                        * `TollFree` - Callee pays for call.
                        * `Voicemail` - Voicemail-only service.
                        * `Other` - Line type is unclear or does not match current categories.
                      nullable: true
                      example: NonFixedVOIP
                      enum:
                        - Landline
                        - Premium
                        - NonFixedVOIP
                        - Mobile
                        - FixedVOIP
                        - TollFree
                        - Other
                        - Voicemail
                    carrier:
                      type: string
                      description: The company that provides voice and/or data services for the phone number. Carriers are returned at the MVNO level.
                      nullable: true
                      example: Trestle Telco
                    is_prepaid:
                      type: boolean
                      description: True if the phone is associated with a prepaid account.
                      nullable: true
                      example: false
                    is_commercial:
                      type: boolean
                      description: True if the phone number is registered to a business.
                      nullable: true
                      example: true
                    owners:
                      type: array
                      description: The owner(s) associated to the phone.
                      nullable: true
                      items:
                        type: object
                        oneOf:
                          - $ref: '#/components/schemas/ReversePhoneOwnerPerson'
                          - $ref: '#/components/schemas/ReversePhoneOwnerBusiness'
                    error:
                      $ref: '#/components/schemas/PartialError'
                    warnings:
                      type: array
                      description:  Warnings returned as part of the response, if applicable. The possible values include - `Invalid Input`, `International number. Not authorized`, or `Missing Input`. 
                      example: [ Missing Input ]
                      items:
                        type: string
          '400':
            $ref: '#/components/responses/400'
          '403':
            $ref: '#/components/responses/403'
          '429':
            $ref: '#/components/responses/429'
          '500':
            description: |
              **Internal Server Error**: Indicates that the server encountered an unexpected error. 
        x-code-samples:
          - lang: Shell
            label: cURL
            source: |-
              curl --request GET \
                --url 'https://api.trestleiq.com/3.2/phone?phone=2069735100&phone.country_hint=US&phone.name_hint=Waidong Syrws&phone.postal_code_hint=98264' \
                --header 'accept: application/json' \
                --header 'x-api-key: {insert_api_key}'
    /3.1/caller_id:
      get:
        tags:
          - Caller Identification API
        summary: Caller ID API 3.1
        operationId: getCallerId
        description: |
          <p style='background-color:#E1E1E1; padding:10px'><b>URL Structure</b>: https://api.trestleiq.com/3.1/caller_id?phone=<span style='color: #408FB1'>[insert_phone_number]</span> </p>
        parameters:
          - name: x-api-key
            $ref: '#/components/parameters/apiKey'
          - name: phone
            $ref: '#/components/parameters/phone'
          - name: phone.country_hint
            $ref: '#/components/parameters/countryHint'
          - name: phone.name_hint
            $ref: '#/components/parameters/nameHint'
          - name: phone.postal_code_hint
            $ref: '#/components/parameters/postalCodeHint'
        responses:
          '200':
            description: Successful reverse phone response.
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    id:
                      type: string
                      description: The persistent ID of the phone number.
                      format: Phone.<uuid>
                      nullable: true
                      example: Phone.3dbb6fef-a2df-4b08-cfe3-bc7128b6f5b4
                    phone_number:
                      $ref: '#/components/schemas/PhoneNumber'
                    is_valid:
                      type: boolean
                      description: True if the phone number is valid.
                      nullable: true
                      example: true
                    country_calling_code:
                      type: string
                      description: The country code of the phone number.
                      format: E.164
                      nullable: true
                      example: '1'
                    line_type:
                      type: string
                      description: |-
                        The line type of the phone number.

                        * `Landline` - Traditional wired phone line.
                        * `Mobile` - Wireless phone line.
                        * `FixedVOIP` - VOIP number connected to a physical address, such as Vonix or Comcast.
                        * `NonFixedVOIP` - VOIP number unconnected to a fixed physical address, such as Google Voice or Skype.
                        * `Premium` - Caller pays a premium for the call–e.g. 976 area code.
                        * `TollFree` - Callee pays for call.
                        * `Voicemail` - Voicemail-only service.
                        * `Other` - Line type is unclear or does not match current categories.
                      nullable: true
                      example: NonFixedVOIP
                      enum:
                        - Landline
                        - Premium
                        - NonFixedVOIP
                        - Mobile
                        - FixedVOIP
                        - TollFree
                        - Other
                        - Voicemail
                    carrier:
                      type: string
                      description: The company that provides voice and/or data services for the phone number. Carriers are returned at the MVNO level.
                      nullable: true
                      example: Trestle Telco
                    is_prepaid:
                      type: boolean
                      description: True if the phone is associated with a prepaid account.
                      nullable: true
                      example: false
                    is_commercial:
                      type: boolean
                      description: True if the phone number is registered to a business.
                      nullable: true
                      example: true
                    belongs_to:
                      type: object
                      description: The primary owner of the phone number.
                      nullable: true
                      oneOf:
                        - $ref: '#/components/schemas/PhoneOwnerPerson'
                        - $ref: '#/components/schemas/PhoneOwnerBusiness'
                    current_addresses:
                      type: array
                      description: Current location associated with Person or Business in belongs_to array.
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: The persistent ID of the address.
                            format: Location.<uuid>
                            nullable: true
                            example: Location.d1a40ed5-a70a-46f8-80a9-bb4ac27e3a01
                          location_type:
                            type: string
                            description: The type of the location.
                            nullable: true
                            enum:
                              - Address
                              - Neighborhood
                              - Country
                              - ZipPlus4
                              - PostalCode
                              - City
                              - State
                          street_line_1:
                            type: string
                            description: The first line of the _street_ part in the structured address.
                            nullable: true
                            example: 100 Syrws St
                          street_line_2:
                            type: string
                            description: The second line of the _street_ part in the structured address.
                            nullable: true
                            example: Ste 1
                          city:
                            type: string
                            description: The name of the city in the structured address.
                            nullable: true
                            example: Lynden
                          postal_code:
                            type: string
                            description: The postal code of the structured address.
                            nullable: true
                            example: '98264'
                          zip4:
                            pattern: ^\d+-\d{4}$
                            type: string
                            description: The ZIP+4 code of the structured address (USA).
                            nullable: true
                            example: 98264-9999
                          state_code:
                            type: string
                            description: The state code of the structured address.
                            nullable: true
                            example: WA
                          country_code:
                            type: string
                            description: 'The ISO-3166 alpha-2 country code of the address. See: [ISO-3166](https://www.nationsonline.org/oneworld/country_code_list.htm)'
                            format: ISO-3166-2
                            nullable: true
                            example: US
                          lat_long:
                            type: object
                            properties:
                              latitude:
                                type: number
                                description: The latitude coordinate of the location.
                                format: double
                                nullable: true
                              longitude:
                                type: number
                                description: The longer coordinate of the location.
                                format: double
                                nullable: true
                              accuracy:
                                type: string
                                description: The accuracy of the geographical location.
                                nullable: true
                                enum:
                                  - Neighborhood
                                  - Country
                                  - PostalCode
                                  - Street
                                  - City
                                  - State
                                  - RoofTop
                            description: The coordinates of the geographical location of the address.
                          is_active:
                            type: boolean
                            description: True if the address is currently receiving mail.
                            nullable: true
                          delivery_point:
                            $ref: '#/components/schemas/DeliveryPoint'
                          link_to_person_start_date:
                            $ref: '#/components/schemas/LinkToPersonStartDate'
                        description: One of the addresses currently associated to the person.
                    emails:
                      type: array
                      description:  The list of emails associated to the primary owner of the phone. 
                      example: waidong.syrws@email.com
                      items:
                        type: string
                    error:
                      $ref: '#/components/schemas/PartialError'
                    warnings:
                      type: array
                      description:  Warnings returned as part of the response, if applicable. The possible values include - `Invalid Input`, `International number. Not authorized`, or `Missing Input`. 
                      example: [ Missing Input ]
                      items:
                        type: string
          '400':
            $ref: '#/components/responses/400'
          '403':
            $ref: '#/components/responses/403'
          '429':
            $ref: '#/components/responses/429'
          '500':
            description: |
              **Internal Server Error**: Indicates that the server encountered an unexpected error. 
        x-codeSamples:
          - lang: Shell
            label: cURL
            source: |-
              curl --location --request GET '/https://api.trestleiq.com/3.1/caller_id?phone=2069735100&phone.country_hint=US&phone.name_hint=Waidong+Syrys&phone.postal_code_hint=98264'  
               --header 'x-api-key: [insert_api_key]'  
               --header 'Accept: application/json'
    /3.1/cnam:
      get:
        tags:
          - Smart CNAM API
        summary: Smart CNAM API 3.1
        operationId: getCNAM
        description: |
          <p style='background-color:#E1E1E1; padding:10px'><b>URL Structure</b>: https://api.trestleiq.com/3.1/cnam?api_key=<span style='color: #408FB1'>[insert_key]</span>&phone=<span style='color: #408FB1'>[insert_phone_number]</span> </p>
        parameters:
          - name: x-api-key
            $ref: '#/components/parameters/apiKey'
          - name: phone
            $ref: '#/components/parameters/phone'
          - name: phone.country_hint
            $ref: '#/components/parameters/countryHint'
        responses:
          '200':
            description: Successful reverse phone response.
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    id:
                      type: string
                      description: The persistent ID of the phone number.
                      format: Phone.<uuid>
                      nullable: true
                      example: Phone.3dbb6fef-a2df-4b08-cfe3-bc7128b6f5b4
                    is_valid:
                      type: boolean
                      description: True if the phone number is valid.
                      nullable: true
                      example: true
                    belongs_to:
                      type: object
                      description: The primary owner of the phone number.
                      nullable: true
                      oneOf:
                        - $ref: '#/components/schemas/PhoneOwnerPersonSmartCNAM'
                    error:
                      $ref: '#/components/schemas/PartialError'
                    warnings:
                      type: array
                      description:  Warnings returned as part of the response, if applicable. The possible values include - `Invalid Input`, `International number. Not authorized`, or `Missing Input`. 
                      example: [ Missing Input ]
                      items:
                        type: string
          '400':
            $ref: '#/components/responses/400'
          '403':
            $ref: '#/components/responses/403'
          '429':
            $ref: '#/components/responses/429'
          '500':
            description: |
              **Internal Server Error**: Indicates that the server encountered an unexpected error. 
        x-codeSamples:
          - lang: Shell
            label: cURL
            source: |-
              curl --location --request GET '/https://api.trestleiq.com/3.1/cnam?phone=2069735100&phone.country_hint=US'  
                --header 'x-api-key: [insert_api_key]'  
                --header 'Accept: application/json'
    /3.0/phone_intel:
      get:
        tags:
          - Phone Validation API
        summary: Phone Validation API 3.0
        operationId: getPhoneValidation
        description: |
          <p style='background-color:#E1E1E1; padding:10px'><b>URL Structure</b>: https://api.trestleiq.com/3.0/phone_intel?phone=<span style='color: #408FB1'>[insert_phone]</span> </p>
        parameters:
          - name: x-api-key
            $ref: '#/components/parameters/apiKey'
          - name: phone
            $ref: '#/components/parameters/phone'
          - name: phone.country_hint
            $ref: '#/components/parameters/countryHint'
          - name: add_ons
            in: query
            description: Request parameter to enable specific add-ons available for this endpoint. Add-ons incur additional charges. Please see <a href="https://trestleiq.com/pricing/" target="_blank">here</a> for more details.

                      
              - `litigator_checks` to enable litigator checks in the response

            required: false
            schema:
              type: string
            example: litigator_checks
  
        responses:
          '200':
            description: Successful phone validation response.
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    id:
                      type: string
                      description: The persistent ID of the phone number.
                      format: Phone.<uuid>
                      nullable: true
                      example: Phone.3dbb6fef-a2df-4b08-cfe3-bc7128b6f5b4
                    phone_number:
                      $ref: '#/components/schemas/PhoneNumber'
                    is_valid:
                      type: boolean
                      description: True if the phone number is valid.
                      nullable: true
                      example: true
                    activity_score:
                      type: integer
                      description: |
                        Trestle's activity scores range from 0 to 100. A score of 100 means consistent activity in the last 12 months, and a score of 0 means a disconnected number or no activity has been seen in the past year.

                        An activity score of 70 or above means there is a high confidence that the phone is connected, assigned to a subscriber, and someone has been taking calls consistently.
                        An activity score of 30 or below means there is a high confidence that the phone is either disconnected or no one will answer the call when the number is dialed in.
                        An activity score of 50 means Trestle doesn't have enough signals to predict whether the phone is connected or disconnected/inactive.

                        If you want to filter leads based on the activity score, the following rules can be recommended:
                        - Prioritize dialing good numbers with consistent activity: Scores 70 or above.
                        - Weed out leads with disconnected/inactive numbers: Scores of 30 or below.
                      example: 57
                    country_calling_code:
                      type: string
                      description: The country code of the phone number.
                      format: E.164
                      nullable: true
                      example: '1'
                    country_code:
                      type: string
                      description: 'The ISO-3166 alpha-2 country code of the phone number. See: [ISO-3166](https://www.nationsonline.org/oneworld/country_code_list.htm)'
                      format: ISO-3166-2
                      nullable: true
                      example: US
                    country_name:
                      type: string
                      description: The country name of the location associated with the phone number.
                      nullable: true
                      example: United States
                    line_type:
                      type: string
                      description: |-
                        The line type of the phone number.
                        * `Landline` - Traditional wired phone line.
                        * `Mobile` - Wireless phone line.
                        * `FixedVOIP` - VOIP number connected to a physical address, such as Vonix or Comcast.
                        * `NonFixedVOIP` - VOIP number unconnected to a fixed physical address, such as Google Voice or Skype.
                        * `Premium` - Caller pays a premium for the call–e.g. 976 area code.
                        * `TollFree` - Callee pays for call.
                        * `Voicemail` - Voicemail-only service.
                        * `Other` - Line type is unclear or does not match current categories.
                      nullable: true
                      example: NonFixedVOIP
                      enum:
                        - Landline
                        - Premium
                        - NonFixedVOIP
                        - Mobile
                        - FixedVOIP
                        - TollFree
                        - Other
                        - Voicemail
                    carrier:
                      type: string
                      description: The company that provides voice and/or data services for the phone number. Carriers are returned at the MVNO level.
                      nullable: true
                      example: Level 3 Communications, LLC
                    is_prepaid:
                      type: boolean
                      description: True if the phone is associated with a prepaid account.
                      nullable: true
                      example: false
                    add_ons:
                      type: object
                      nullable: true
                      properties:
                        litigator_checks:
                          type: object
                          properties:
                            phone.is_litigator_risk:
                              type: boolean
                              description: True if the phone subscriber is a TCPA litigator.
                              nullable: true
                              example: true
                    error:
                      $ref: '#/components/schemas/PartialError'
                    warnings:
                      type: array
                      description:  Warnings returned as part of the response, if applicable. The possible values include - `Invalid Input`, `International number. Not authorized`, or `Missing Input`. 
                      example: [ Missing Input ]
                      items:
                        type: string
          '400':
            $ref: '#/components/responses/400'
          '403':
            $ref: '#/components/responses/403'
          '429':
            $ref: '#/components/responses/429'
          '500':
            description: |
              **Internal Server Error**: Indicates that the server encountered an unexpected error. 
        x-codeSamples:
          - lang: Shell
            label: cURL
            source: |
              curl --location --request GET 'https://api.trestleiq.com/3.0/phone_intel?phone=2069735100&add_ons=litigator_checks' \
                --header 'x-api-key: [insert_api_key]' \
                --header 'Accept: application/json'

    /3.1/location:
      get:
        tags:
          - Reverse Address API
        summary: Reverse Address 3.1
        operationId: getLocation
        description: |
          <p style='background-color:#E1E1E1; padding:10px'><b>URL Structure</b>: https://api.trestleiq.com/3.1/location?api_key=<span style='color: #408FB1'>[insert_key]</span>&city=<span style='color: #408FB1'>[insert_city]</span>&postal_code=<span style='color: #408FB1'>[insert_postal_code]</span>&state_code=<span style='color: #408FB1'>[insert_state_code]</span>&street_line_1=<span style='color: #408FB1'>[insert_street_line_1]</span> </p>
        parameters:
          - name: x-api-key
            $ref: '#/components/parameters/apiKey'
          - name: street_line_1
            $ref: '#/components/parameters/streetAddress1'
          - name: street_line_2
            $ref: '#/components/parameters/streetAddress2'
          - name: city
            $ref: '#/components/parameters/city'
          - name: postal_code
            $ref: '#/components/parameters/postalCode'
          - name: state_code
            $ref: '#/components/parameters/stateCode'
          - name: country_code
            $ref: '#/components/parameters/countryCode'
        responses:
          '200':
            description: Successful reverse address response.
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    id:
                      type: string
                      description: The persistent ID of the address.
                      format: Location.<uuid>
                      nullable: true
                      example: Location.d1a40ed5-a70a-46f8-80a9-bb4ac27e3a01
                    is_valid:
                      type: boolean
                      description: True if the address is valid.
                      nullable: true
                      example: true
                    street_line_1:
                      type: string
                      description: The first line of the _street_ part in the structured address.
                      nullable: true
                      example: 100 Syrws St
                    street_line_2:
                      type: string
                      description: The second line of the _street_ part in the structured address.
                      nullable: true
                      example: Ste 1
                    city:
                      type: string
                      description: The name of the city in the structured address.
                      nullable: true
                      example: Lynden
                    postal_code:
                      type: string
                      description: The postal code of the structured address.
                      nullable: true
                      example: '98264'
                    zip4:
                      pattern: ^\d+-\d{4}$
                      type: string
                      description: The ZIP+4 code of the structured address (USA).
                      nullable: true
                      example: 98264-9999
                    state_code:
                      type: string
                      description: The state code of the structured address.
                      nullable: true
                      example: WA
                    country_code:
                      type: string
                      description: 'The ISO-3166 alpha-2 country code of the address. See: [ISO-3166](https://www.nationsonline.org/oneworld/country_code_list.htm)'
                      format: ISO-3166-2
                      nullable: true
                      example: US
                    lat_long:
                      type: object
                      properties:
                        latitude:
                          type: number
                          description: The latitude coordinate of the location.
                          format: double
                          nullable: true
                        longitude:
                          type: number
                          description: The longer coordinate of the location.
                          format: double
                          nullable: true
                        accuracy:
                          type: string
                          description: The accuracy of the geographical location.
                          nullable: true
                          enum:
                            - Neighborhood
                            - Country
                            - PostalCode
                            - Street
                            - City
                            - State
                            - RoofTop
                      description: The coordinates of the geographical location of the address.
                    is_active:
                      type: boolean
                      description: True if the address is currently receiving mail.
                      nullable: true
                    is_commercial:
                      type: boolean
                      description: |-
                        True if the address is a business address.

                        When shipping physical goods, commercial addresses are typically a positive signal and indicate that the order is not fraudulent.
                      nullable: true
                      example: true
                    delivery_point:
                      $ref: '#/components/schemas/DeliveryPoint'
                    current_residents:
                      type: array
                      description: The list of current person and business residents at the address.
                      items:
                        type: object
                        oneOf:
                          - $ref: '#/components/schemas/ResidentPerson'
                          - $ref: '#/components/schemas/ResidentBusiness'
                    error:
                      $ref: '#/components/schemas/PartialError'
                    warnings:
                      type: array
                      description:  Warnings returned as part of the response, if applicable. The possible values include - `Missing Input`, `Invalid address`, `Invalid house/building number`, `Missing unit/apt/suite number`, or `Invalid unit/apt/suite number`. 
                      example: [ Missing Input ]
                      items:
                        type: string
          '400':
            $ref: '#/components/responses/400'
          '403':
            $ref: '#/components/responses/403'
          '429':
            $ref: '#/components/responses/429'
          '500':
            $ref: '#/components/responses/500'
        x-codeSamples:
          - lang: Shell
            label: cURL
            source: |-
              curl --location --request GET 'https://api.trestleiq.com/3.1/location?street_line_1=100 Syrws St&street_line_2=Ste 1&city=Lynden&postal_code=98264&state_code=WA&country_code=US'   
               --header 'x-api-key: [insert_api_key]'  
                --header 'Accept: application/json'
    /1.1/real_contact:
      get:
        tags:
          - Real Contact API
        summary: Real Contact 1.1
        operationId: realContact
        description: |
          <p style='background-color:#E1E1E1; padding:10px'><b>URL Structure</b>: https://api.trestleiq.com/1.1/real_contact?api_key=<span style='color: #408FB1'>[insert_key]</span>&name=<span style='color: #408FB1'>[insert_name]</span>&phone=<span style='color: #408FB1'>[insert_phone]</span>&email=<span style='color: #408FB1'>[insert_email]</span>&ip_address=<span style='color: #408FB1'>[insert_ip_address]</span>&address.street_line_1=<span style='color: #408FB1'>[insert_street_line_1]</span>&address.city=<span style='color: #408FB1'>[insert_city]</span>&address.state_code=<span style='color: #408FB1'>[insert_state_code]</span>&address.postal_code=<span style='color: #408FB1'>[insert_postal_code]</span>&address.country_code=<span style='color: #408FB1'>[insert_country_code]</span> </p>
        parameters:
          - name: x-api-key
            $ref: '#/components/parameters/apiKey'
            required: true
          - name: name
            in: query
            description: The name of the person to search.
            schema:
              type: string
            example: Jon Snow
            required: true
          - name: business.name
            in: query
            description: The business name to search.
            schema:
              type: string
            example: The Golden Company
          - name: phone
            in: query
            schema:
              type: string
            description: The phone provided by the lead on the web form.
            required: true
            example: '4259853735'
          - name: email
            in: query
            schema:
              type: string
            description: The email provided by the lead on the web form.
            example: kushal.shah@gmail.com
          - name: ip_address
            in: query
            schema:
              type: string
            description: The IP address from which the lead signed up on the web form.
            example: 192.0.0.1
          - name: address.street_line_1
            $ref: '#/components/parameters/streetAddress1'
          - name: address.city
            $ref: '#/components/parameters/city'
          - name: address.state_code
            $ref: '#/components/parameters/stateCode'
          - name: address.postal_code
            $ref: '#/components/parameters/postalCode'
          - name: address.country_code
            $ref: '#/components/parameters/countryCode'
          - name: add_ons
            in: query
            description: >
              Request parameter to enable specific add-ons available for this endpoint. Add-ons incur additional charges. Please see <a href="https://trestleiq.com/pricing/" target="_blank">here</a> for more details.

          
              - `email_checks_deliverability` to enable email deliverability checks in the response

              - `email_checks_age` to enable email age score in the response
            
              - `litigator_checks` to enable litigator checks in the response

            required: false
            schema:
              type: string
            example: litigator_checks,email_checks_deliverability
        responses:
          '200':
            description: Successful real contact response.
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    phone.is_valid:
                      type: boolean
                      description: True if the phone number is valid.
                      nullable: true
                      example: true
                    phone.activity_score:
                      type: integer
                      description: |
                        Trestle's activity scores range from 0 to 100. A score of 100 means consistent activity in the last 12 months, and a score of 0 means a disconnected number or no activity has been seen in the past year.

                        An activity score of 70 or above means there is a high confidence that the phone is connected, assigned to a subscriber, and someone has been taking calls consistently.
                        An activity score of 30 or below means there is a high confidence that the phone is either disconnected or no one will answer the call when the number is dialed in.
                        An activity score of 50 means Trestle doesn't have enough signals to predict whether the phone is connected or disconnected/inactive.

                        If you want to filter leads based on the activity score, the following rules can be recommended:
                        - Prioritize dialing good numbers with consistent activity: Scores 70 or above.
                        - Weed out leads with disconnected/inactive numbers: Scores of 30 or below.
                      example: 57
                    phone.line_type:
                      type: string
                      description: |-
                        The line type of the phone number.

                        * `Landline` - Traditional wired phone line.
                        * `Mobile` - Wireless phone line.
                        * `FixedVOIP` - VOIP number connected to a physical address, such as Vonix or Comcast.
                        * `NonFixedVOIP` - VOIP number unconnected to a fixed physical address, such as Google Voice or Skype.
                        * `Premium` - Caller pays a premium for the call–e.g. 976 area code.
                        * `TollFree` - Callee pays for call.
                        * `Voicemail` - Voicemail-only service.
                        * `Other` - Line type is unclear or does not match current categories.
                      nullable: true
                      example: Mobile
                      enum:
                        - Landline
                        - Premium
                        - NonFixedVOIP
                        - Mobile
                        - FixedVOIP
                        - TollFree
                        - Other
                        - Voicemail
                    phone.name_match:
                      type: boolean
                      description: |
                        A match/no match indicator whether the name provided on the lead form matches to the input phone number according to our database.
                        A match is a positive indicator that verifies the lead is real and is who he/she says they are.
                      example: true
                      nullable: true
                    phone.contact_grade:
                      type: string
                      description: |
                        An A-F grade determining the quality of the lead and whether it is contactable.
                        A Grade-F lead is a bad lead and should be deprioritized while a Grade-A lead is real and contactable and should be prioritized.
                      example: A
                    email.is_valid:
                      type: boolean
                      description: |
                        True if the email is valid.
                      nullable: true
                      example: true
                    email.name_match:
                      type: boolean
                      description: |
                        A match/no match indicator whether the name provided on the lead form matches to the input email address according to our database.
                      example: true
                      nullable: true
                    email.contact_grade:
                      type: string
                      description: |
                        An A-F grade determining the quality of the lead and whether it is contactable via the email provided.
                      example: B
                    address.is_valid:
                      type: boolean
                      description: True if the address is valid.
                      nullable: true
                      example: true
                    address.name_match:
                      type: boolean
                      description: |
                        A match/no match indicator whether the name provided on the lead form matches to the input address according to our database.
                      example: true
                      nullable: true
                    add_ons:
                      type: object
                      nullable: true
                      properties:
                        litigator_checks:
                          type: object
                          properties:
                            phone.is_litigator_risk:
                              type: boolean
                              nullable: true
                              description: True if the phone subscriber is a TCPA litigator.
                              example: true
                        email_checks:
                          type: object
                          properties:
                            email.is_deliverable:
                              type: boolean
                              nullable: true
                              description: True if the email is valid and deliverable.
                              example: false
                            email.age_score:
                              type: integer
                              nullable: true
                              description: A 0-100 score indicating the longevity and activity-level of an email address.
                              example: 70
                    error:
                      $ref: '#/components/schemas/PartialError'
                    warnings:
                      type: array
                      description:  Warnings returned as part of the response, if applicable. The possible values include - `Missing Input`, `Invalid Input Address`, `Invalid house/building number`, `Missing unit/apt/suite number`, `Invalid unit/apt/suite number`, `Free Email Service Provider`, `Domain is a catch all and does not support validation`, `Tumbled Email`, `Disposable Email`, `Privacy Email`, `Domain is a catch all and does not support validation`, `Email is a spam trap`, or `Potential Junk Email`.  
                      example: [ Missing Input ]
                      items:
                        type: string

          '400':
            $ref: '#/components/responses/400'
          '403':
            $ref: '#/components/responses/403'
          '429':
            $ref: '#/components/responses/429'
          '500':
            description: |
              **Internal Server Error**: Indicates that the server encountered an unexpected error. 
        x-codeSamples:
          - lang: Shell
            label: cURL
            source: |
              curl --location --request GET 'https://api.trestleiq.com/1.1/real_contact?name=Waidong+L+Syrws&phone=2069735100&address.city=Lynden&address.country_code=US&address.postal_code=98264&address.state_code=WA&address.street_line_1=100+Syrws+St&email=wsyrws@gmail.com&ip_address=192.0.0.1&add_ons=litigator_checks' \
                --header 'x-api-key: [insert_api_key]' \
                --header 'Accept: application/json'

    /1.0/phone_feedback:
      post:
        tags:
          - Phone Feedback API
        summary: Phone Feedback 1.0
        operationId: phoneFeedback
        description: |
          Phone Feedback API allows you to submit phone feedback, including phone status and whether the phone number belongs to the right party based on a live call.
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  response_id:
                    type: string
                    description: The response ID from the Trestle API.
                    example: T_b5d031b8-e8a3-4eef-8fa8-d87d3b7e386f
                  phone:
                    type: string
                    description: The phone number in E.164 or local format. The default country calling code is +1 (USA).
                    example: '2069735100'
                  name:
                    type: string
                    description: Person or business name associated with the phone number.
                    example: Waidong Syrws
                  phone_status:
                    type: string
                    description: The status of the phone number from a live call, either 'Connected' or 'Disconnected'.
                    example: Connected
                  phone_right_party_contact:
                    type: boolean
                    description: Indicates if it was confirmed during the call that the phone number belongs to the correct party.
                    example: true
        parameters:
          - name: x-api-key
            $ref: '#/components/parameters/apiKey'
            required: true
        responses:
          '200':
            description: Successful phone feedback response.
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    status:
                      type: string
                      description: Whether the data was successfully received.
                      example: success
                    error:
                      type: object
                      description: If the request encounters a partial error due to external timeouts.
                      properties:
                        name:
                          type: string
                          description: Error name for incomplete response due to timeouts.
                          example: InternalError
                        message:
                          type: string
                          description: Detailed error message explaining the issue.
                          example: "Could not retrieve entire response"
          '400':
            $ref: '#/components/responses/400'
          '403':
            $ref: '#/components/responses/403'
          '429':
            $ref: '#/components/responses/429'
          '500':
            description: |
              **Internal Server Error**: Indicates that the server encountered an unexpected error. 
        x-codeSamples:
          - lang: Shell
            label: cURL
            source: |-
              curl --location --request POST 'https://api.trestleiq.com/1.0/phone_feedback' \
                --header 'x-api-key: {{apiKey}}' \
                --header 'Content-Type: application/json' \
                --data-raw '{
                  "response_id": "T_b5d031b8-e8a3-4eef-8fa8-d87d3b7e386f",
                  "phone": "2069735100",
                  "name": "Waidong Syrws",
                  "phone_status": "Connected",
                  "phone_right_party_contact": true
                }'
  components:
    schemas:
      AgeRange:
        type: string
        description: The age of the person in a 5-year range.
        nullable: true
        example: 25-29
      AlternateNamesBusiness:
        type: array
        description: Alternate names of the person associated with the phone.
        items:
          type: string
          example: Trestle LLC
      AlternateNamesPerson:
        type: array
        description: Alternate names of the person associated with the phone.
        items:
          type: string
          example: Sryws W L
      DeliveryPoint:
        type: string
        description: The type of the delivery point of the address.
        example: SingleUnit
        nullable: true
        enum:
          - SingleUnit
          - MultiUnit
          - POBox
          - PartialAddress
      EmailChecksAddOn:
        type: object
        properties:
          email.is_deliverable:
            type: boolean
            nullable: true
            description: True if the email is valid and deliverable
            example: false
          email.age_score:
            type: integer
            nullable: true
            description: A 0-100 score indicating the longevity and activity-level of an email address.
            example: false
      Firstname:
        type: string
        description: The first name of the person.
        nullable: true
        example: Waidong
      Gender:
        type: string
        description: The gender of the person.
        example: null
        nullable: true
      Lastname:
        type: string
        description: The last name of the person.
        nullable: true
        example: Syrws
      LinkToPersonEndDate:
        type: string
        description: The date when the link between the address and the person ended.
        example: null
        nullable: true
      LinkToPersonStartDate:
        type: string
        description: The date when the address was first linked to the person.
        example: '2011-10-05'
        nullable: true
      litigator_checks:
        type: object
        properties:
          phone.is_litigator_risk:
            type: boolean
            description: True if the phone subscriber is a TCPA litigator.
            example: true
      Middlename:
        type: string
        description: The middle name (or middle initial) of the person.
        nullable: true
        example: L
      OwnerBusiness:
        type: object
        properties:
          id:
            type: string
            description: The persistent ID of the business.
            format: Business.<uuid>
            nullable: true
            example: Business.d455e455-e647-4304-9679-06bd9550c568
          name:
            type: string
            description: The name of the business.
            example: Trestle
            nullable: true
          firstname:
            type: string
            description: Not applicable.
            example: null
            nullable: true
          middlename:
            type: string
            description: Not applicable.
            example: null
            nullable: true
          lastname:
            type: string
            description: Not applicable.
            example: null
            nullable: true
          alternate_names:
            $ref: '#/components/schemas/AlternateNamesBusiness'
          age_range:
            type: string
            description: Not applicable.
            example: null
            nullable: true
          gender:
            type: string
            description: Not applicable.
            example: null
            nullable: true
          type:
            type: string
            description: |-
              The type of the legal entity.

              * `Person` - The legal entity is a person.
              * `Business` - The legal entity is a business.
            example: Business
            enum:
              - Business
              - Person
          industry:
            type: array
            description: Returns a list of business industry classification.
            nullable: true
            items:
              type: string
              example: Service Provider
      OwnerPerson:
        type: object
        properties:
          id:
            type: string
            description: The persistent ID of the person.
            format: Person.<uuid>
            nullable: true
            example: Person.fffdcf06-0929-4b5a-9921-ee49b101ca84
          name:
            type: string
            description: The full name of the person.
            nullable: true
            example: Waidong L Syrws
          firstname:
            $ref: '#/components/schemas/Firstname'
          middlename:
            $ref: '#/components/schemas/Middlename'
          lastname:
            $ref: '#/components/schemas/Lastname'
          alternate_names:
            $ref: '#/components/schemas/AlternateNamesPerson'
          age_range:
            $ref: '#/components/schemas/AgeRange'
          gender:
            $ref: '#/components/schemas/Gender'
          type:
            type: string
            description: |-
              The type of the legal entity.

              * `Person` - The legal entity is a person.
              * `Business` - The legal entity is a business.
            nullable: true
            enum:
              - Business
              - Person
          industry:
            type: array
            description: Not applicable.
            nullable: true
            items:
              type: string
              example: Service Provider
      PartialError:
        type: object
        properties:
          name:
            type: string
            description: Incomplete response due to external timeouts.
            enum:
              - InternalError
          message:
            type: string
            enum:
              - Could not retrieve entire response
      Person:
        type: object
        properties:
          id:
            type: string
            description: The persistent ID of the person returned.
            format: Person.<uuid>
            nullable: true
            example: Person.3dbb6fef-a2df-4b08-cfe3-bc7128b6f5b4
          name:
            type: string
            description: The name of the person returned.
            nullable: true
            example: Waidong L Syrws
          firstname:
            $ref: '#/components/schemas/Firstname'
          middlename:
            $ref: '#/components/schemas/Middlename'
          lastname:
            $ref: '#/components/schemas/Lastname'
          alternate_names:
            $ref: '#/components/schemas/AlternateNamesPerson'
          age_range:
            $ref: '#/components/schemas/AgeRange'
          gender:
            $ref: '#/components/schemas/Gender'
          found_at_address:
            $ref: '#/components/schemas/PersonAddress'
          current_addresses:
            type: array
            description: An array of current address locations associated with this person.
            items:
              $ref: '#/components/schemas/PersonAddress'
          historical_addresses:
            type: array
            description: Returns a list of unique historical locations associated with the person/business.
            items:
              type: object
              properties:
                id:
                  type: string
                  description: The persistent ID of the address.
                  format: Location.<uuid>
                  nullable: true
                  example: Location.d1a40ed5-a70a-46f8-80a9-bb4ac27e3a01
                location_type:
                  type: string
                  description: The type of the location.
                  nullable: true
                  enum:
                    - Address
                    - Neighborhood
                    - Country
                    - ZipPlus4
                    - PostalCode
                    - City
                    - State
                street_line_1:
                  type: string
                  description: The first line of the _street_ part in the structured address.
                  nullable: true
                  example: 10 Main St
                street_line_2:
                  type: string
                  description: The second line of the _street_ part in the structured address.
                  nullable: true
                  example: Ste 1
                city:
                  type: string
                  description: The name of the city in the structured address.
                  nullable: true
                  example: Lynden
                postal_code:
                  type: string
                  description: The postal code of the structured address.
                  nullable: true
                  example: '98264'
                zip4:
                  pattern: ^\d+-\d{4}$
                  type: string
                  description: The ZIP+4 code of the structured address (USA).
                  nullable: true
                  example: 98264-9999
                state_code:
                  type: string
                  description: The state code of the structured address.
                  nullable: true
                  example: WA
                country_code:
                  type: string
                  description: 'The ISO-3166 alpha-2 country code of the address. See: [ISO-3166](https://www.nationsonline.org/oneworld/country_code_list.htm)'
                  format: ISO-3166-2
                  nullable: true
                  example: US
                lat_long:
                  type: object
                  properties:
                    latitude:
                      type: number
                      description: The latitude coordinate of the location.
                      format: double
                      nullable: true
                    longitude:
                      type: number
                      description: The longer coordinate of the location.
                      format: double
                      nullable: true
                    accuracy:
                      type: string
                      description: The accuracy of the geographical location.
                      nullable: true
                      enum:
                        - Neighborhood
                        - Country
                        - PostalCode
                        - Street
                        - City
                        - State
                        - RoofTop
                  description: The coordinates of the geographical location of the address.
                is_active:
                  type: boolean
                  description: True if the address is currently receiving mail.
                  nullable: true
                delivery_point:
                  $ref: '#/components/schemas/DeliveryPoint'
                link_to_person_start_date:
                  $ref: '#/components/schemas/LinkToPersonStartDate'
                link_to_person_end_date:
                  $ref: '#/components/schemas/LinkToPersonEndDate'
              description: One of the addresses historically associated to the person.
          phones:
            type: array
            description: The list of phone numbers associated to the business.
            items:
              type: object
              properties:
                id:
                  type: string
                  description: The persistent ID of the phone number.
                  format: Phone.<uuid>
                  nullable: true
                  example: Phone.3dbb6fef-a2df-4b08-cfe3-bc7128b6f5b4
                phone_number:
                  $ref: '#/components/schemas/PhoneNumber'
                line_type:
                  type: string
                  description: |-
                    The line type of the phone number.

                    * `Landline` - Traditional wired phone line.
                    * `Mobile` - Wireless phone line.
                    * `FixedVOIP` - VOIP number connected to a physical address, such as Vonix or Comcast.
                    * `NonFixedVOIP` - VOIP number unconnected to a fixed physical address, such as Google Voice or Skype.
                    * `Premium` - Caller pays a premium for the call–e.g. 976 area code.
                    * `TollFree` - Callee pays for call.
                    * `Voicemail` - Voicemail-only service.
                    * `Other` - Line type is unclear or does not match current categories.
                  nullable: true
                  example: NonFixedVOIP
                  enum:
                    - Landline
                    - Premium
                    - NonFixedVOIP
                    - Mobile
                    - FixedVOIP
                    - TollFree
                    - Other
                    - Voicemail
          emails:
            type: array
            description: The list of emails associated with the person.
            example: waidong.syrws@email.com
            items:
              type: string
          associated_people:
            type: array
            description: The people that are associated to the business.
            items:
              type: object
              properties:
                id:
                  type: string
                  description: The persistent ID of the person.
                  format: Person.<uuid>
                  nullable: true
                  example: Person.fffdcf06-0929-4b5a-9921-ee49b101ca84
                name:
                  type: string
                  description: The full name of the person.
                  nullable: true
                  example: Waidong L Syrws
                firstname:
                  $ref: '#/components/schemas/Firstname'
                middlename:
                  $ref: '#/components/schemas/Middlename'
                lastname:
                  $ref: '#/components/schemas/Lastname'
                relation:
                  $ref: '#/components/schemas/Relation'
      PersonAddress:
        type: object
        description: Address location of this person.
        properties:
          id:
            type: string
            description: The persistent ID of the address.
            format: Location.<uuid>
            nullable: true
            example: Location.d1a40ed5-a70a-46f8-80a9-bb4ac27e3a01
          location_type:
            type: string
            description: The type of the location.
            nullable: true
            enum:
              - Address
              - Neighborhood
              - Country
              - ZipPlus4
              - PostalCode
              - City
              - State
          street_line_1:
            type: string
            description: The first line of the _street_ part in the structured address.
            nullable: true
            example: 100 Syrws St
          street_line_2:
            type: string
            description: The second line of the _street_ part in the structured address.
            nullable: true
            example: Ste 1
          city:
            type: string
            description: The name of the city in the structured address.
            nullable: true
            example: Lynden
          postal_code:
            type: string
            description: The postal code of the structured address.
            nullable: true
            example: '98264'
          zip4:
            pattern: ^\d+-\d{4}$
            type: string
            description: The ZIP+4 code of the structured address (USA).
            nullable: true
            example: 98264-9999
          state_code:
            type: string
            description: The state code of the structured address.
            nullable: true
            example: WA
          country_code:
            type: string
            description: 'The ISO-3166 alpha-2 country code of the address. See: [ISO-3166](https://www.nationsonline.org/oneworld/country_code_list.htm)'
            format: ISO-3166-2
            nullable: true
            example: US
          lat_long:
            type: object
            properties:
              latitude:
                type: number
                description: The latitude coordinate of the location.
                format: double
                nullable: true
              longitude:
                type: number
                description: The longer coordinate of the location.
                format: double
                nullable: true
              accuracy:
                type: string
                description: The accuracy of the geographical location.
                nullable: true
                enum:
                  - Neighborhood
                  - Country
                  - PostalCode
                  - Street
                  - City
                  - State
                  - RoofTop
            description: The coordinates of the geographical location of the address.
          is_active:
            type: boolean
            description: True if the address is currently receiving mail.
            nullable: true
          delivery_point:
            $ref: '#/components/schemas/DeliveryPoint'
          link_to_person_start_date:
            $ref: '#/components/schemas/LinkToPersonStartDate'
      PhoneOwnerBusiness:
        type: object
        properties:
          id:
            type: string
            description: The persistent ID of the business.
            format: Business.<uuid>
            nullable: true
            example: Business.d455e455-e647-4304-9679-06bd9550c568
          name:
            type: string
            description: The name of the business.
            example: Trestle
            nullable: true
          firstname:
            type: string
            description: Not applicable.
            example: null
            nullable: true
          middlename:
            type: string
            description: Not applicable.
            example: null
            nullable: true
          lastname:
            type: string
            description: Not applicable.
            example: null
            nullable: true
          alternate_names:
            $ref: '#/components/schemas/AlternateNamesBusiness'
          age_range:
            type: string
            description: Not applicable.
            example: null
            nullable: true
          gender:
            type: string
            description: Not applicable.
            example: null
            nullable: true
          type:
            type: string
            description: |-
              The type of the legal entity.

              * `Person` - The legal entity is a person.
              * `Business` - The legal entity is a business.
            example: Business
            nullable: true
            enum:
              - Business
              - Person
          link_to_phone_start_date:
            type: string
            description: The date when the business was first linked to the phone number.
            example: '2022-01-15'
            nullable: true
          industry:
            type: array
            description: Returns a list of business industry classification.
            nullable: true
            items:
              type: string
              example: Real Estate
      PhoneOwnerPerson:
        type: object
        properties:
          id:
            type: string
            description: The persistent ID of the person.
            format: Person.<uuid>
            nullable: true
            example: Person.fffdcf06-0929-4b5a-9921-ee49b101ca84
          name:
            type: string
            description: The full name of the person.
            nullable: true
            example: Waidong L Syrws
          firstname:
            $ref: '#/components/schemas/Firstname'
          middlename:
            $ref: '#/components/schemas/Middlename'
          lastname:
            $ref: '#/components/schemas/Lastname'
          alternate_names:
            $ref: '#/components/schemas/AlternateNamesPerson'
          age_range:
            $ref: '#/components/schemas/AgeRange'
          gender:
            $ref: '#/components/schemas/Gender'
          type:
            type: string
            description: |-
              The type of the legal entity.

              * `Person` - The legal entity is a person.
              * `Business` - The legal entity is a business.
            example: Person
            enum:
              - Business
              - Person
          link_to_phone_start_date:
            type: string
            description: The date when the person was first linked to the phone number.
            example: '2019-03-23'
            nullable: true
          industry:
            type: array
            description: Not applicable.
            nullable: true
            items:
              type: string
              example: Real Estate
      PhoneOwnerPersonSmartCNAM:
        type: object
        properties:
          id:
            type: string
            description: The persistent ID of the person.
            format: Person.<uuid>
            nullable: true
            example: Person.fffdcf06-0929-4b5a-9921-ee49b101ca84
          name:
            type: string
            description: The full name of the person.
            nullable: true
            example: Waidong L Syrws
          firstname:
            $ref: '#/components/schemas/Firstname'
          middlename:
            $ref: '#/components/schemas/Middlename'
          lastname:
            $ref: '#/components/schemas/Lastname'
      PhoneNumber:
        type: string
        description: The phone number in E.164 or local format. The default country calling code is +1 (USA).
        nullable: true
        example: '2069735100'
      Relation:
        type: string
        description: Relation of the associated person.
        nullable: true
        enum:
          - Household
          - PotentialOwner
      ResidentBusiness:
        type: object
        properties:
          id:
            type: string
            description: The persistent ID of the business.
            format: Business.<uuid>
            nullable: true
            example: Business.d455e455-e647-4304-9679-06bd9550c568
          name:
            type: string
            description: The name of the business.
            nullable: true
          firstname:
            type: string
            description: Not applicable.
            nullable: true
          middlename:
            type: string
            description: Not applicable.
            nullable: true
          lastname:
            type: string
            description: Not applicable.
            nullable: true
          alternate_names:
            $ref: '#/components/schemas/AlternateNamesBusiness'
          age_range:
            type: string
            description: Not applicable.
            nullable: true
          gender:
            type: string
            description: Not applicable.
            nullable: true
          type:
            type: string
            description: |-
              The type of the legal entity.

              * `Person` - The legal entity is a person.
              * `Business` - The legal entity is a business.
            nullable: true
            enum:
              - Business
              - Person
          industry:
            type: array
            description: Returns a list of business industry classification.
            nullable: true
            items:
              type: string
          link_to_address_start_date:
            type: string
            description: The date when the business was first linked to the address.
            example: '2022-11-30'
            nullable: true
          phones:
            type: array
            description: The list of phone numbers associated to the business.
            items:
              type: object
              properties:
                id:
                  type: string
                  description: The persistent ID of the phone number.
                  format: Phone.<uuid>
                  nullable: true
                  example: Phone.3dbb6fef-a2df-4b08-cfe3-bc7128b6f5b4
                phone_number:
                  $ref: '#/components/schemas/PhoneNumber'
                line_type:
                  type: string
                  description: |-
                    The line type of the phone number.

                    * `Landline` - Traditional wired phone line.
                    * `Mobile` - Wireless phone line.
                    * `FixedVOIP` - VOIP number connected to a physical address, such as Vonix or Comcast.
                    * `NonFixedVOIP` - VOIP number unconnected to a fixed physical address, such as Google Voice or Skype.
                    * `Premium` - Caller pays a premium for the call–e.g. 976 area code.
                    * `TollFree` - Callee pays for call.
                    * `Voicemail` - Voicemail-only service.
                    * `Other` - Line type is unclear or does not match current categories.
                  nullable: true
                  example: NonFixedVOIP
                  enum:
                    - Landline
                    - Premium
                    - NonFixedVOIP
                    - Mobile
                    - FixedVOIP
                    - TollFree
                    - Other
                    - Voicemail
          emails:
            type: array
            description: The list of emails associated with the current resident.
            example: waidong.syrws@email.com
            items:
              type: string          
          historical_addresses:
            type: array
            description: The list of addresses that are historically linked to the business.
            items:
              type: object
              properties:
                id:
                  type: string
                  description: The persistent ID of the address.
                  format: Location.<uuid>
                  nullable: true
                  example: Location.d1a40ed5-a70a-46f8-80a9-bb4ac27e3a01
                location_type:
                  type: string
                  description: The type of the location.
                  nullable: true
                  enum:
                    - Address
                    - Neighborhood
                    - Country
                    - ZipPlus4
                    - PostalCode
                    - City
                    - State
                street_line_1:
                  type: string
                  description: The first line of the _street_ part in the structured address.
                  nullable: true
                  example: 10 Main St
                street_line_2:
                  type: string
                  description: The second line of the _street_ part in the structured address.
                  nullable: true
                  example: Ste 1
                city:
                  type: string
                  description: The name of the city in the structured address.
                  nullable: true
                  example: Lynden
                postal_code:
                  type: string
                  description: The postal code of the structured address.
                  nullable: true
                  example: '98264'
                zip4:
                  pattern: ^\d+-\d{4}$
                  type: string
                  description: The ZIP+4 code of the structured address (USA).
                  nullable: true
                  example: 98264-9999
                state_code:
                  type: string
                  description: The state code of the structured address.
                  nullable: true
                  example: WA
                country_code:
                  type: string
                  description: 'The ISO-3166 alpha-2 country code of the address. See: [ISO-3166](https://www.nationsonline.org/oneworld/country_code_list.htm)'
                  format: ISO-3166-2
                  nullable: true
                  example: US
                lat_long:
                  type: object
                  properties:
                    latitude:
                      type: number
                      description: The latitude coordinate of the location.
                      format: double
                      nullable: true
                    longitude:
                      type: number
                      description: The longer coordinate of the location.
                      format: double
                      nullable: true
                    accuracy:
                      type: string
                      description: The accuracy of the geographical location.
                      nullable: true
                      enum:
                        - Neighborhood
                        - Country
                        - PostalCode
                        - Street
                        - City
                        - State
                        - RoofTop
                  description: The coordinates of the geographical location of the address.
                is_active:
                  type: boolean
                  description: True if the address is currently receiving mail.
                  nullable: true
                delivery_point:
                  $ref: '#/components/schemas/DeliveryPoint'
                link_to_business_start_date:
                  type: string
                  description: The date when the address was first linked to the business.
                  nullable: true
                link_to_business_end_date:
                  type: string
                  description: The date when the link between the business and the address ended.
                  nullable: true
          associated_people:
            type: array
            description: The people that are associated to the business.
            items:
              type: object
              properties:
                id:
                  type: string
                  description: The persistent ID of the person.
                  format: Person.<uuid>
                  nullable: true
                  example: Person.fffdcf06-0929-4b5a-9921-ee49b101ca84
                name:
                  type: string
                  description: The full name of the person.
                  nullable: true
                  example: Waidong L Syrws
                firstname:
                  $ref: '#/components/schemas/Firstname'
                middlename:
                  $ref: '#/components/schemas/Middlename'
                lastname:
                  $ref: '#/components/schemas/Lastname'
                relation:
                  $ref: '#/components/schemas/Relation'
      ResidentPerson:
        type: object
        properties:
          id:
            type: string
            description: The persistent ID of the person.
            format: Person.<uuid>
            nullable: true
            example: Person.fffdcf06-0929-4b5a-9921-ee49b101ca84
          name:
            type: string
            description: The full name of the person.
            nullable: true
            example: Waidong L Syrws
          firstname:
            $ref: '#/components/schemas/Firstname'
          middlename:
            $ref: '#/components/schemas/Middlename'
          lastname:
            $ref: '#/components/schemas/Lastname'
          alternate_names:
            $ref: '#/components/schemas/AlternateNamesPerson'
          age_range:
            $ref: '#/components/schemas/AgeRange'
          gender:
            $ref: '#/components/schemas/Gender'
          type:
            type: string
            description: |-
              The type of the legal entity.

              * `Person` - The legal entity is a person.
              * `Business` - The legal entity is a business.
            example: Person
            nullable: true
            enum:
              - Business
              - Person
          industry:
            type: array
            description: Not applicable.
            nullable: true
            items:
              type: string
              example: Service Provider
          link_to_address_start_date:
            type: string
            description: The date when the person was first linked to the address.
            example: '2023-01-02'
            nullable: true
          phones:
            type: array
            description: The phone numbers associated with the person.
            items:
              type: object
              properties:
                id:
                  type: string
                  description: The persistent ID of the phone number.
                  format: Phone.<uuid>
                  nullable: true
                  example: Phone.3dbb6fef-a2df-4b08-cfe3-bc7128b6f5b4
                phone_number:
                  $ref: '#/components/schemas/PhoneNumber'
                line_type:
                  type: string
                  description: |-
                    The line type of the phone number.

                    * `Landline` - Traditional wired phone line.
                    * `Mobile` - Wireless phone line.
                    * `FixedVOIP` - VOIP number connected to a physical address, such as Vonix or Comcast.
                    * `NonFixedVOIP` - VOIP number unconnected to a fixed physical address, such as Google Voice or Skype.
                    * `Premium` - Caller pays a premium for the call–e.g. 976 area code.
                    * `TollFree` - Callee pays for call.
                    * `Voicemail` - Voicemail-only service.
                    * `Other` - Line type is unclear or does not match current categories.
                  nullable: true
                  example: NonFixedVOIP
                  enum:
                    - Landline
                    - Premium
                    - NonFixedVOIP
                    - Mobile
                    - FixedVOIP
                    - TollFree
                    - Other
                    - Voicemail
          emails:
            type: array
            description: The list of emails associated with the current resident.
            example: waidong.syrws@email.com
            items:
              type: string          
          historical_addresses:
            type: array
            description: Returns a list of unique historical locations associated with the phone.
            items:
              type: object
              properties:
                id:
                  type: string
                  description: The persistent ID of the address.
                  format: Location.<uuid>
                  nullable: true
                  example: Location.d1a40ed5-a70a-46f8-80a9-bb4ac27e3a01
                location_type:
                  type: string
                  description: The type of the location.
                  nullable: true
                  enum:
                    - Address
                    - Neighborhood
                    - Country
                    - ZipPlus4
                    - PostalCode
                    - City
                    - State
                street_line_1:
                  type: string
                  description: The first line of the _street_ part in the structured address.
                  nullable: true
                  example: 10 Main St
                street_line_2:
                  type: string
                  description: The second line of the _street_ part in the structured address.
                  nullable: true
                  example: Ste 1
                city:
                  type: string
                  description: The name of the city in the structured address.
                  nullable: true
                  example: Lynden
                postal_code:
                  type: string
                  description: The postal code of the structured address.
                  nullable: true
                  example: '98264'
                zip4:
                  pattern: ^\d+-\d{4}$
                  type: string
                  description: The ZIP+4 code of the structured address (USA).
                  nullable: true
                  example: 98264-9999
                state_code:
                  type: string
                  description: The state code of the structured address.
                  nullable: true
                  example: WA
                country_code:
                  type: string
                  description: 'The ISO-3166 alpha-2 country code of the address. See: [ISO-3166](https://www.nationsonline.org/oneworld/country_code_list.htm)'
                  format: ISO-3166-2
                  nullable: true
                  example: US
                lat_long:
                  type: object
                  properties:
                    latitude:
                      type: number
                      description: The latitude coordinate of the location.
                      format: double
                      nullable: true
                    longitude:
                      type: number
                      description: The longer coordinate of the location.
                      format: double
                      nullable: true
                    accuracy:
                      type: string
                      description: The accuracy of the geographical location.
                      nullable: true
                      enum:
                        - Neighborhood
                        - Country
                        - PostalCode
                        - Street
                        - City
                        - State
                        - RoofTop
                  description: The coordinates of the geographical location of the address.
                is_active:
                  type: boolean
                  description: True if the address is currently receiving mail.
                  nullable: true
                delivery_point:
                  $ref: '#/components/schemas/DeliveryPoint'
                link_to_person_start_date:
                  $ref: '#/components/schemas/LinkToPersonStartDate'
                link_to_person_end_date:
                  $ref: '#/components/schemas/LinkToPersonEndDate'
              description: One of the addresses historically associated to the person.
          associated_people:
            type: array
            description: The people that are associated to the person.
            items:
              type: object
              properties:
                id:
                  type: string
                  description: The persistent ID of the person.
                  format: Person.<uuid>
                  nullable: true
                  example: Person.fffdcf06-0929-4b5a-9921-ee49b101ca84
                name:
                  type: string
                  description: The full name of the person.
                  nullable: true
                  example: Waidong L Syrws
                firstname:
                  $ref: '#/components/schemas/Firstname'
                middlename:
                  $ref: '#/components/schemas/Middlename'
                lastname:
                  $ref: '#/components/schemas/Lastname'
                relation:
                  $ref: '#/components/schemas/Relation'
      ReversePhoneOwnerBusiness:
        type: object
        properties:
          id:
            type: string
            description: The persistent ID of the business.
            format: Business.<uuid>
            nullable: true
            example: Business.d455e455-e647-4304-9679-06bd9550c568
          name:
            type: string
            description: The name of the business.
            example: Trestle
            nullable: true
          firstname:
            type: string
            description: Not applicable.
            example: null
            nullable: true
          middlename:
            type: string
            description: Not applicable.
            example: null
            nullable: true
          lastname:
            type: string
            description: Not applicable.
            example: null
            nullable: true
          alternate_names:
            $ref: '#/components/schemas/AlternateNamesBusiness'
          age_range:
            type: string
            description: Not applicable.
            example: null
            nullable: true
          gender:
            type: string
            description: Not applicable.
            example: null
            nullable: true
          type:
            type: string
            description: |-
              The type of the legal entity.

              * `Person` - The legal entity is a person.
              * `Business` - The legal entity is a business.
            example: Business
            nullable: true
            enum:
              - Business
              - Person
          link_to_phone_start_date:
            type: string
            description: The date when the business was first linked to the phone number.
            example: '2022-01-15'
            nullable: true
          industry:
            type: array
            description: Returns a list of business industry classification.
            nullable: true
            items:
              type: string
              example: Real Estate
          current_addresses:
            type: array
            description: A list of unique current locations associated with Person or Business in belongs_to array.
            items:
              type: object
              properties:
                id:
                  type: string
                  description: The persistent ID of the address.
                  format: Location.<uuid>
                  nullable: true
                  example: Location.d1a40ed5-a70a-46f8-80a9-bb4ac27e3a01
                location_type:
                  type: string
                  description: The type of the location.
                  nullable: true
                  enum:
                    - Address
                    - Neighborhood
                    - Country
                    - ZipPlus4
                    - PostalCode
                    - City
                    - State
                street_line_1:
                  type: string
                  description: The first line of the _street_ part in the structured address.
                  nullable: true
                  example: 100 Syrws St
                street_line_2:
                  type: string
                  description: The second line of the _street_ part in the structured address.
                  nullable: true
                  example: Ste 1
                city:
                  type: string
                  description: The name of the city in the structured address.
                  nullable: true
                  example: Lynden
                postal_code:
                  type: string
                  description: The postal code of the structured address.
                  nullable: true
                  example: '98264'
                zip4:
                  pattern: ^\d+-\d{4}$
                  type: string
                  description: The ZIP+4 code of the structured address (USA).
                  nullable: true
                  example: 98264-9999
                state_code:
                  type: string
                  description: The state code of the structured address.
                  nullable: true
                  example: WA
                country_code:
                  type: string
                  description: 'The ISO-3166 alpha-2 country code of the address. See: [ISO-3166](https://www.nationsonline.org/oneworld/country_code_list.htm)'
                  format: ISO-3166-2
                  nullable: true
                  example: US
                lat_long:
                  type: object
                  properties:
                    latitude:
                      type: number
                      description: The latitude coordinate of the location.
                      format: double
                      nullable: true
                    longitude:
                      type: number
                      description: The longer coordinate of the location.
                      format: double
                      nullable: true
                    accuracy:
                      type: string
                      description: The accuracy of the geographical location.
                      nullable: true
                      enum:
                        - Neighborhood
                        - Country
                        - PostalCode
                        - Street
                        - City
                        - State
                        - RoofTop
                  description: The coordinates of the geographical location of the address.
                delivery_point:
                  $ref: '#/components/schemas/DeliveryPoint'
                link_to_person_start_date:
                  $ref: '#/components/schemas/LinkToPersonStartDate'
              description: One of the addresses currently associated to the person.
          alternate_phones:
              type: array
[...]
